nav {
  width: 270px;
  height: 100vh;
  border-right: 1px solid #dadada;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

nav > div {
  display: flex;
  flex-direction: column;
}

nav::-webkit-scrollbar {
  width: 3px;
}

nav::-webkit-scrollbar-thumb {
  outline: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.05);
}

nav .logo {
  margin: 20px auto 50px;
}
nav .logo img {
  max-width: 50px;
}
nav a {
  position: relative;
  display: inline-block;
  margin: 12px 0;
  padding-left: 47px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #313131;
  transition: .4s padding-left ease;
}
nav a:hover {
  padding-left: 62px;
  color: #41b883;
}
.router-link-exact-active {
  padding-left: 62px;
  color: #41b883;
}
.router-link-exact-active:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -12px;
  display: block;
  height: 1px;
  width: 47px;
  background-color: #41b883;
}
